.faqGenDiv{
 max-height: 540px;
    background-color: #F3F7FD;
    display: contents;
}
.main{
    background-color: #F3F7FD;
    padding: 5% 21% 5% 15%;
   
}
.tex-t{
    display: flex;
    justify-content: space-around;
}
.faq-title{
    font-size: 2.4rem;
   
   display: grid;
}
.line-div1{
    display: flex;
    
}
.faq-right{
    padding-top: 25px;
}
p{
   font-size: 20px;
font: normal normal normal 24px;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
img{
    margin-left: 20px;
}
.sub-text-div{
    font-size: 36px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.sub-span{
    font-weight: 700;
    font-size: 36px;
}
.subscribes{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding-top: 100px;
    height: 400px;
}


.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
    display: flex;
    align-items: center;
}
.form__field {
    font-family: inherit;
    width: 80%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
 


.form__field:focus {
    padding-bottom: 6px;
    border-width: 3px;
    border-image-slice: 1;
}


.form__field:required, .form__field:invalid {
    box-shadow: none;
}
